# Configuración sensible
.env
.env.*
!.env.dev.example
.venv/
env/
venv/

# Python
__pycache__/
*.py[co]
*.egg-info/
*.sqlite3

# Docker
# docker-compose.override.yml

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
*.log

# Build / distribución
dist/
build/
*.egg
app/static/uploads/*
!app/static/uploads/products_photos/
!app/static/uploads/products_photos/.gitkeep

# Node
node_modules/
data/*
!data/db/
!data/db/.gitkeep
