# Configuración sensible
.env
.env.*
!.env.dev.example
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.sqlite3
env/
venv/

# Docker
docker-compose.override.yml

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
*.log

# Build / distribution
dist/
build/
*.egg
app/static/Uploads