# Configuración sensible
.env
.env.dev
.env.*
!.env.dev.example
.venv/
env/
venv/

# Python
__pycache__/
*.py[co]
*.egg-info/
*.sqlite3

# Docker
# docker-compose.override.yml

# IDEs / editors
.vscode/
.idea/

# OS files
.DS_Store
*.log

# Build / distribución
dist/
build/
*.egg
app/static/uploads/


# Node
node_modules/
